Testing data retrieval from BasketballReference.com

In [2]:
from io import StringIO
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [3]:
# URL get fuction omitted

In [4]:
def get_regular_season_stats(url: str) -> pd.DataFrame:
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table_html = soup.find('table', {'id': 'per_game_stats'})
    
    if table_html:
        return pd.read_html(StringIO(str(table_html)))[0]
    else:
        print("Regular season stats table not found.")
        return pd.DataFrame()

def get_playoff_stats(url: str) -> pd.DataFrame:
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table_html = soup.find('table', {'id': 'per_game_stats_post'})
    
    if table_html:
        return pd.read_html(StringIO(str(table_html)))[0]
    else:
        print("Playoff stats table not found.")
        return pd.DataFrame()

In [5]:
URL = "https://www.basketball-reference.com/players/b/butleji01.html"
reg = get_regular_season_stats(URL)
post = get_playoff_stats(URL)

In [6]:
# data[1], data[2] represent the regular season/playoffs stats
# although not visible normally, the data is stored in the page when loaded,
# thus there is no need for Selenium

In [7]:
reg.head()

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2011-12,22,CHI,NBA,SG,42.0,0.0,8.5,0.8,1.9,...,0.5,0.8,1.3,0.3,0.3,0.1,0.3,0.5,2.6,NaN
1,2012-13,23,CHI,NBA,SF,82.0,20.0,26.0,2.9,6.2,...,1.7,2.3,4.0,1.4,1.0,0.4,0.8,1.2,8.6,DPOY-17
2,2013-14,24,CHI,NBA,SG,67.0,67.0,38.7,4.1,10.3,...,1.3,3.6,4.9,2.6,1.9,0.5,1.5,1.6,13.1,NaN
3,2014-15,25,CHI,NBA,SG,65.0,65.0,38.7,6.5,14.0,...,1.8,4.1,5.8,3.3,1.8,0.6,1.4,1.7,20.0,"DPOY-10,MIP-1,AS"
4,2015-16,26,CHI,NBA,SG,67.0,67.0,36.9,7.0,15.4,...,1.2,4.2,5.3,4.8,1.6,0.6,2.0,1.9,20.9,"DPOY-11,AS"

In [8]:
post.head()

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2011-12,22,CHI,NBA,SG,3.0,0.0,1.3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.3,0.0,NaN
1,2012-13,23,CHI,NBA,SF,12.0,12.0,40.8,4.2,9.6,...,0.8,4.4,5.2,2.7,1.3,0.5,1.3,2.2,13.3,NaN
2,2013-14,24,CHI,NBA,SG,5.0,5.0,43.6,4.4,11.4,...,1.2,4.0,5.2,2.2,1.2,0.0,0.6,2.6,13.6,NaN
3,2014-15,25,CHI,NBA,SG,12.0,12.0,42.2,7.8,17.8,...,1.5,4.1,5.6,3.2,2.4,0.8,1.8,2.3,22.9,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can see this works well, NaN data is when a player didn't play that year. Ex: in the 2015-2016 season, Jimm Butler
did not make the playoffs. We will clean this later

Need to ensure behaviour is consistent among all player examples. Further testing will be done with other players

In [9]:
URL = "https://www.basketball-reference.com/players/d/duranke01.html"
reg = get_regular_season_stats(URL)
post = get_playoff_stats(URL)

In [10]:
reg.head()

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2007-08,19,SEA,NBA,SG,80,80,34.6,7.3,17.1,...,0.9,3.5,4.4,2.4,1.0,0.9,2.9,1.5,20.3,ROY-1
1,2008-09,20,OKC,NBA,SF,74,74,39.0,8.9,18.8,...,1.0,5.5,6.5,2.8,1.3,0.7,3.0,1.8,25.3,NaN
2,2009-10,21,OKC,NBA,SF,82,82,39.5,9.7,20.3,...,1.3,6.3,7.6,2.8,1.4,1.0,3.3,2.1,30.1,"MVP-2,AS,NBA1"
3,2010-11,22,OKC,NBA,SF,78,78,38.9,9.1,19.7,...,0.7,6.1,6.8,2.7,1.1,1.0,2.8,2.0,27.7,"MVP-5,AS,NBA1"
4,2011-12,23,OKC,NBA,SF,66,66,38.6,9.7,19.7,...,0.6,7.4,8.0,3.5,1.3,1.2,3.8,2.0,28.0,"MVP-2,AS,NBA1"

In [11]:
post.head()

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2009-10,21,OKC,NBA,SF,6.0,6.0,38.5,7.2,20.5,...,1.3,6.3,7.7,2.3,0.5,1.3,3.7,2.8,25.0,NaN
1,2010-11,22,OKC,NBA,SF,17.0,17.0,42.5,9.1,20.3,...,1.1,7.1,8.2,2.8,0.9,1.1,2.5,3.1,28.6,NaN
2,2011-12,23,OKC,NBA,SF,20.0,20.0,41.9,9.9,19.2,...,0.7,6.8,7.4,3.7,1.5,1.2,3.2,2.6,28.5,NaN
3,2012-13,24,OKC,NBA,SF,11.0,11.0,44.1,10.2,22.4,...,0.6,8.4,9.0,6.3,1.3,1.1,3.9,2.4,30.8,NaN
4,2013-14,25,OKC,NBA,SF,19.0,19.0,42.9,10.2,22.2,...,1.3,7.6,8.9,3.9,1.0,1.3,3.8,2.2,29.6,NaN

Raw data works well, will do cleaning later

## CLEANING

In [13]:
def convert_type(df: pd.DataFrame) -> pd.DataFrame:
    numerical_columns = ["G", "PTS", "TRB", "AST", "STL", "BLK"]
    for col in numerical_columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")
    return df

df = convert_type(reg)
df.head()

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards
0,2007-08,19,SEA,NBA,SG,80.0,80,34.6,7.3,17.1,...,0.9,3.5,4.4,2.4,1.0,0.9,2.9,1.5,20.3,ROY-1
1,2008-09,20,OKC,NBA,SF,74.0,74,39.0,8.9,18.8,...,1.0,5.5,6.5,2.8,1.3,0.7,3.0,1.8,25.3,NaN
2,2009-10,21,OKC,NBA,SF,82.0,82,39.5,9.7,20.3,...,1.3,6.3,7.6,2.8,1.4,1.0,3.3,2.1,30.1,"MVP-2,AS,NBA1"
3,2010-11,22,OKC,NBA,SF,78.0,78,38.9,9.1,19.7,...,0.7,6.1,6.8,2.7,1.1,1.0,2.8,2.0,27.7,"MVP-5,AS,NBA1"
4,2011-12,23,OKC,NBA,SF,66.0,66,38.6,9.7,19.7,...,0.6,7.4,8.0,3.5,1.3,1.2,3.8,2.0,28.0,"MVP-2,AS,NBA1"

In [14]:
df.columns

Index(['Season', 'Age', 'Team', 'Lg', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Awards'],
      dtype='object')

In [15]:
newdf = df.drop(['Age', 'Lg', 'GS', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 
             'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TOV', 'PF','Awards'], axis=1)

In [17]:
newdf.head()

    Season Team Pos     G    MP   FG   FGA  TRB  AST  STL  BLK   PTS
0  2007-08  SEA  SG  80.0  34.6  7.3  17.1  4.4  2.4  1.0  0.9  20.3
1  2008-09  OKC  SF  74.0  39.0  8.9  18.8  6.5  2.8  1.3  0.7  25.3
2  2009-10  OKC  SF  82.0  39.5  9.7  20.3  7.6  2.8  1.4  1.0  30.1
3  2010-11  OKC  SF  78.0  38.9  9.1  19.7  6.8  2.7  1.1  1.0  27.7
4  2011-12  OKC  SF  66.0  38.6  9.7  19.7  8.0  3.5  1.3  1.2  28.0

In [18]:
def clean_table(df: pd.DataFrame) -> pd.DataFrame:
    df = convert_type(df)
    df = df.dropna(axis=0, how='all')
    df.index = range(1, len(df) + 1)
#     clean_aggregates(df)
    return df

In [20]:
newdf = clean_table(newdf)
newdf.head()

    Season Team Pos     G    MP   FG   FGA  TRB  AST  STL  BLK   PTS
1  2007-08  SEA  SG  80.0  34.6  7.3  17.1  4.4  2.4  1.0  0.9  20.3
2  2008-09  OKC  SF  74.0  39.0  8.9  18.8  6.5  2.8  1.3  0.7  25.3
3  2009-10  OKC  SF  82.0  39.5  9.7  20.3  7.6  2.8  1.4  1.0  30.1
4  2010-11  OKC  SF  78.0  38.9  9.1  19.7  6.8  2.7  1.1  1.0  27.7
5  2011-12  OKC  SF  66.0  38.6  9.7  19.7  8.0  3.5  1.3  1.2  28.0

In [22]:
has_yrs = newdf['Season'].str.contains('Yrs', case=False)
has_yrs.head()

1    False
2    False
3    False
4    False
5    False
Name: Season, dtype: object

In [24]:
#newdf[has_yrs].index.tolist()

In [25]:
newdf.head()

    Season Team Pos     G    MP   FG   FGA  TRB  AST  STL  BLK   PTS
1  2007-08  SEA  SG  80.0  34.6  7.3  17.1  4.4  2.4  1.0  0.9  20.3
2  2008-09  OKC  SF  74.0  39.0  8.9  18.8  6.5  2.8  1.3  0.7  25.3
3  2009-10  OKC  SF  82.0  39.5  9.7  20.3  7.6  2.8  1.4  1.0  30.1
4  2010-11  OKC  SF  78.0  38.9  9.1  19.7  6.8  2.7  1.1  1.0  27.7
5  2011-12  OKC  SF  66.0  38.6  9.7  19.7  8.0  3.5  1.3  1.2  28.0

In [27]:
newdf.head()

    Season Team Pos     G    MP   FG   FGA  TRB  AST  STL  BLK   PTS
1  2007-08  SEA  SG  80.0  34.6  7.3  17.1  4.4  2.4  1.0  0.9  20.3
2  2008-09  OKC  SF  74.0  39.0  8.9  18.8  6.5  2.8  1.3  0.7  25.3
3  2009-10  OKC  SF  82.0  39.5  9.7  20.3  7.6  2.8  1.4  1.0  30.1
4  2010-11  OKC  SF  78.0  38.9  9.1  19.7  6.8  2.7  1.1  1.0  27.7
5  2011-12  OKC  SF  66.0  38.6  9.7  19.7  8.0  3.5  1.3  1.2  28.0

data cleaning done below

In [28]:
def convert_type(df):
    # Define the numerical columns you want to convert
    numerical_columns = ["G", "PTS", "TRB", "AST", "STL", "BLK"]
    
    # Use .copy() to avoid SettingWithCopyWarning
    df = df.copy()
    
    # Loop through each column and convert to numeric if it exists
    for col in numerical_columns:
        if col in df.columns:  # Check if the column exists
            df[col] = pd.to_numeric(df[col], errors="coerce")  # Convert to numeric
        else:
            print(f"Warning: Column '{col}' does not exist in the DataFrame.")

    return df

def clean_aggregates(df: pd.DataFrame):
    # create boolean Series
    has_yrs = df['Season'].str.contains('Yr', case=False)
    yrs_indices = df[has_yrs].index.tolist()
    agg_count = 1

    for i in yrs_indices:
        # entire career case
        if '(' not in df.at[i, 'Season']:
            df.at[i, 'Season'] = 'Career'
        # one team case
        else:
            team = df.at[i, 'Season']
            pos = team.find('(')
            df.at[i, 'Season'] = team[:pos]
            df.at[i, 'Team'] = np.nan

        df.rename(index={i: f"TOT_{agg_count}"}, inplace=True)
        agg_count += 1
    
def clean_fill(df: pd.DataFrame):
    df.replace(r"^Did not play.*", "-", regex=True, inplace=True)
    df.fillna(-1, inplace=True)
    df['G'] = df['G'].astype(int)
    
def clean_table(df: pd.DataFrame) -> pd.DataFrame:

    if df.empty:
        return df # must fix later
     
    df = convert_type(df)
#     df = df.drop(['Age', 'Lg', 'GS', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 
#              'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TOV', 'PF','Awards'], axis=1)
    df = df.dropna(axis=0, how='all')
    df.index = range(1, len(df) + 1)
    clean_aggregates(df)
    clean_fill(df)
    return df

In [171]:
df = clean_table(newdf)
df

        Season    Team Pos     G    MP    FG   FGA  TRB  AST  STL  BLK   PTS
1      2007-08     SEA  SG    80  34.6   7.3  17.1  4.4  2.4  1.0  0.9  20.3
2      2008-09     OKC  SF    74  39.0   8.9  18.8  6.5  2.8  1.3  0.7  25.3
3      2009-10     OKC  SF    82  39.5   9.7  20.3  7.6  2.8  1.4  1.0  30.1
4      2010-11     OKC  SF    78  38.9   9.1  19.7  6.8  2.7  1.1  1.0  27.7
5      2011-12     OKC  SF    66  38.6   9.7  19.7  8.0  3.5  1.3  1.2  28.0
6      2012-13     OKC  SF    81  38.5   9.0  17.7  7.9  4.6  1.4  1.3  28.1
7      2013-14     OKC  SF    81  38.5  10.5  20.8  7.4  5.5  1.3  0.7  32.0
8      2014-15     OKC  SF    27  33.8   8.8  17.3  6.6  4.1  0.9  0.9  25.4
9      2015-16     OKC  SF    72  35.8   9.7  19.2  8.2  5.0  1.0  1.2  28.2
10     2016-17     GSW  PF    62  33.4   8.9  16.5  8.3  4.8  1.1  1.6  25.1
11     2017-18     GSW  SF    68  34.2   9.3  18.0  6.8  5.4  0.7  1.8  26.4
12     2018-19     GSW  SF    78  34.6   9.2  17.7  6.4  5.9  0.7  1.1  26.0
13     2019-20       -   -    -1     -     -     - -1.0 -1.0 -1.0 -1.0  -1.0
14     2020-21     BRK  PF    35  33.1   9.3  17.2  7.1  5.6  0.7  1.3  26.9
15     2021-22     BRK  PF    55  37.2  10.5  20.3  7.4  6.4  0.9  0.9  29.9
16     2022-23     2TM  PF    47  35.6  10.3  18.3  6.7  5.0  0.7  1.4  29.1
17     2022-23     BRK  PF    39  36.0  10.5  18.8  6.7  5.3  0.8  1.5  29.7
18     2022-23     PHO  PF     8  33.6   9.1  16.0  6.4  3.5  0.3  1.3  26.0
19     2023-24     PHO  PF    75  37.2  10.0  19.1  6.6  5.0  0.9  1.2  27.1
20     2024-25     PHO  SF     4  40.0  10.0  18.8  7.0  3.0  1.0  1.8  29.0
TOT_1   Career  17 Yrs  -1  1065  36.7   9.4  18.7  7.0  4.4  1.1  1.1  27.3
TOT_2     OKC       -1  -1   641  37.8   9.2  19.1  7.0  3.7  1.2  1.0  27.4
TOT_3     GSW       -1  -1   208  34.1   9.1  17.5  7.1  5.4  0.8  1.5  25.8
TOT_4     BRK       -1  -1   129  35.7  10.2  19.0  7.1  5.8  0.8  1.2  29.0
TOT_5     PHO       -1  -1    87  37.0   9.9  18.8  6.6  4.8  0.9  1.2  27.1

## Functions

In [172]:
# Define a function to exclude unwanted items
def is_actual_team(team):
    # Convert to string to ensure consistent comparison
    team_str = str(team)
    # Exclude entries with '-1', '-', '2TM', or containing "Yrs"
    return team_str not in ['-1', '-', '2TM'] and 'Yrs' not in team_str

# Apply the filter to keep only actual team names
teams = df['Team'].value_counts().index.tolist()
sig = [team for team in teams if is_actual_team(team)]
sig

['OKC', 'GSW', 'BRK', 'PHO', 'SEA']

In [173]:
sig[:len(sig)//2]

['OKC', 'GSW']

In [29]:
wilt = "https://www.basketball-reference.com/players/c/chambwi01.html"
wiltreg = get_regular_season_stats(wilt)
wiltreg.head()

,Season,Age,Team,Lg,Pos,G,MP,FG,FGA,FG%,FT,FTA,FT%,TRB,AST,PF,PTS,Awards
0,1959-60,23,PHW,NBA,C,72,46.4,14.8,32.1,.461,8.0,13.8,.582,27.0,2.3,2.1,37.6,"MVP-1,ROY-1,AS,NBA1"
1,1960-61,24,PHW,NBA,C,79,47.8,15.8,31.1,.509,6.7,13.3,.504,27.2,1.9,1.6,38.4,"MVP-4,AS,NBA1"
2,1961-62,25,PHW,NBA,C,80,48.5,20.0,39.5,.506,10.4,17.0,.613,25.7,2.4,1.5,50.4,"MVP-2,AS,NBA1"
3,1962-63,26,SFW,NBA,C,80,47.6,18.3,34.6,.528,8.3,13.9,.593,24.3,3.4,1.7,44.8,"MVP-7,AS,NBA2"
4,1963-64,27,SFW,NBA,C,80,46.1,15.1,28.7,.524,6.8,12.7,.531,22.3,5.0,2.3,36.9,"MVP-2,AS,NBA1"

In [30]:
wiltreg2 = clean_table(wiltreg)
wiltreg2.head()

Warning: Column 'STL' does not exist in the DataFrame.
Warning: Column 'BLK' does not exist in the DataFrame.

,Season,Age,Team,Lg,Pos,G,MP,FG,FGA,FG%,FT,FTA,FT%,TRB,AST,PF,PTS,Awards
1,1959-60,23,PHW,NBA,C,72,46.4,14.8,32.1,.461,8.0,13.8,.582,27.0,2.3,2.1,37.6,"MVP-1,ROY-1,AS,NBA1"
2,1960-61,24,PHW,NBA,C,79,47.8,15.8,31.1,.509,6.7,13.3,.504,27.2,1.9,1.6,38.4,"MVP-4,AS,NBA1"
3,1961-62,25,PHW,NBA,C,80,48.5,20.0,39.5,.506,10.4,17.0,.613,25.7,2.4,1.5,50.4,"MVP-2,AS,NBA1"
4,1962-63,26,SFW,NBA,C,80,47.6,18.3,34.6,.528,8.3,13.9,.593,24.3,3.4,1.7,44.8,"MVP-7,AS,NBA2"
5,1963-64,27,SFW,NBA,C,80,46.1,15.1,28.7,.524,6.8,12.7,.531,22.3,5.0,2.3,36.9,"MVP-2,AS,NBA1"